<a href="https://colab.research.google.com/github/neosaffana/TugasDataMining1/blob/main/Tugas_Data_Mining_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tugas Data Mining : Preporcessing Data**

**Neo Saffana Farhalik (4112322008)**

In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv('movie_sample_dataset.csv')

data.head(), data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 88 non-null     object
 1   director_name         88 non-null     object
 2   duration              99 non-null     int64
 3   gross                 91 non-null     float64
 4   genres                98 non-null     object
 5   movie_title           99 non-null     object
 6   title_year            99 non-null     int64
 7   language              99 non-null     object
 8   country               99 non-null     object
 9   budget                95 non-null     float64
 10  imdb_score            99 non-null     float64
 11  actors                99 non-null     object
 12  movie_facebook_likes  99 non-null     int64
dtypes: float64(3), int64(3), object(7)
memory usage: 10.2+ KB

(    color      director_name  duration        gross  \
 0   Color    Martin Scorsese       240  116866727.0
 1   Color        Shane Black       195  408992272.0
 2  color   Quentin Tarantino       187   54116191.0
 3   Color   Kenneth Lonergan       186      46495.0
 4   Color      Peter Jackson       186  258355354.0

                                  genres                          movie_title  \
 0          Biography|Comedy|Crime|Drama              The Wolf of Wall Street
 1               Action|Adventure|Sci-Fi                           Iron Man 3
 2  Crime|Drama|Mystery|Thriller|Western                    The Hateful Eight
 3                                 Drama                             Margaret
 4                     Adventure|Fantasy  The Hobbit: The Desolation of Smaug

    title_year language country       budget  imdb_score  \
 0        2013  English     USA  100000000.0         8.2
 1        2013  English     USA  200000000.0         7.2
 2        2015  English     USA   44000000.0         7.9
 3        2011  English     usa   14000000.0         6.5
 4        2013  English     USA  225000000.0         7.9

                                               actors  movie_facebook_likes
 0  Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
 1          Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
 2          Craig Stark,Jennifer Jason Leigh,ZoÃ« Bell                114000
 3        Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
 4              Aidan Turner,Adam Brown,James Nesbitt                 83000  ,
 None)

In [2]:
data['color'] = data['color'].str.capitalize()
data['country'] = data['country'].str.upper()

missing_values = data.isnull().sum()

duplicates = data.duplicated().sum()

missing_values, duplicates

(color                   11
 director_name           11
 duration                 0
 gross                    8
 genres                   1
 movie_title              0
 title_year               0
 language                 0
 country                  0
 budget                   4
 imdb_score               0
 actors                   0
 movie_facebook_likes     0
 dtype: int64,
 6)

In [3]:
data_cleaned = data.drop_duplicates()

data_cleaned.shape

(93, 13)

In [4]:
data_cleaned['color'].fillna(data_cleaned['color'].mode()[0], inplace=True)
data_cleaned['director_name'].fillna(data_cleaned['director_name'].mode()[0], inplace=True)
data_cleaned['genres'].fillna(data_cleaned['genres'].mode()[0], inplace=True)

data_cleaned['gross'].fillna(data_cleaned['gross'].median(), inplace=True)
data_cleaned['budget'].fillna(data_cleaned['budget'].median(), inplace=True)

data_cleaned.isnull().sum()

<ipython-input-4-14768f0a2c1b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['color'].fillna(data_cleaned['color'].mode()[0], inplace=True)
<ipython-input-4-14768f0a2c1b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['director_name'].fillna(data_cleaned['director_name'].mode()[0], inplace=True)
<ipython-input-4-14768f0a2c1b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['genres'].fillna(data_cleaned['genres'].mode()[0], inplace=True)
<ipython-input-4-14768f0a2c1b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['gross'].fillna(data_cleaned['gross'].median(), inplace=True)
<ipython-input-4-14768f0a2c1b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['budget'].fillna(data_cleaned['budget'].median(), inplace=True)

color                   0
director_name           0
duration                0
gross                   0
genres                  0
movie_title             0
title_year              0
language                0
country                 0
budget                  0
imdb_score              0
actors                  0
movie_facebook_likes    0
dtype: int64

In [5]:
data.to_csv('movie_dataset_cleaned.csv', index=False)

In [6]:
missing_percentage = (data.isnull().sum() / len(data)) * 100

print(missing_percentage)

color                   11.111111
director_name           11.111111
duration                 0.000000
gross                    8.080808
genres                   1.010101
movie_title              0.000000
title_year               0.000000
language                 0.000000
country                  0.000000
budget                   4.040404
imdb_score               0.000000
actors                   0.000000
movie_facebook_likes     0.000000
dtype: float64